
body{
    font-family: 'League Spartan', sans-serif;
    background-color: var(--background);
    color: var(--font-color);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 20px 50px;
    background-color: var(--background-secundario);
    text-shadow: 1px 1px 3px var(--text-shadow);
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

header>h2{
    transition-duration: 1s;
    transition-timing-function: ease;
}

header>h2:hover{
    font-size: 45px;
}

.links>a{
    margin: 5px;
    padding: 15px 5px;
    transition-duration: 0.5s;
}

.links>a:hover{
    background-color: var(--primaria);
    text-shadow: var(--primaria);
}

#inicio{
    margin-top: 100px;
}


section{
    margin-bottom: 40px;
}

li{
    margin: 10px 0px;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--font-color);
}

a>img{
    height: 50px;
    width: 50px;
}
