
body{
    font-family: 'League Spartan', sans-serif;
    background-color: var(--background);
    color: var(--font-color);
}

/* HEADER */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 20px 50px;
    background-color: var(--header);
    text-shadow: 1px 1px 3px var(--text-shadow);
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

header>h2{
    transition-duration: 1s;
    transition-timing-function: ease;
}

header>h2:hover{
    font-size: 45px;
}

.links>a{
    margin: 5px;
    padding: 15px 5px;
    transition-duration: 0.5s;
}

.links>a:hover{
    background-color: var(--primaria);
    text-shadow: var(--primaria);
}

/* SECTIONS */

section{
    margin-bottom: 40px;
}

li{
    margin: 10px 0px;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--font-color);
}

/* SECTION INICIO */

#inicio{
    margin-top: 60px;
    padding: 60px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.text{
    width: 50%;
    font-size: 22px;
}

.text>h2{
    text-decoration: dotted;
    text-decoration-thickness: 10%;
    text-decoration-line: underline;
    text-decoration-color: var(--secundaria);
}

.text>p{
    margin-top: 15px;
}

.image{
    width: 30%;
}

#inicio>div>img{
    width: 300px;
    height: 300px;
    border: 8px double var(--secundaria); 
    border-radius: 200px;
}

/* SECTION COMPETENCIAS */

#competencias{
    background-color: var(--background-secundario);
    padding: 70px 50px;
}

#competencias>h2{
    color: var(--secundaria);
    margin-left: 200px;
}

#competencias>div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

#competencias>div>article>h3{
    color: var(--secundaria);
}

.hard>ul{
    width: 30%;
}

.soft>ul{
    width: 70%;
}

article>ul>li{
    display: flex;
    flex-direction: row;
    align-items: center;
}

article>ul>li>img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.imgCompetencias{
    width: 30%;
    height: 20%;
}

/* SECTION TRAJETORIA */

#trajetoria{
    padding: 70px 50px;
}

#trajetoria>div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

#trajetoria>h2{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 300px;
    color: var(--secundaria);
}

#trajetoria>div>article>h3{
    color: var(--secundaria);
}

#trajetoria>div>article>ul>li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imgTrajetoria{
    width: 30%;
    height: 20%;
}