*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#root{

    /* Variaveis */

    --primaria: #FF4791;
    --primaria: #CC0052;
    --font-color: #F5F5F5;
    --background: #141414;
    --background-secundario: #a3a3a3;
    --text-shadow: #bebebe;
}