*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#root{

    /* Variaveis */

    --primaria: #FF4791;
    --secundaria: #CC0052;
    --font-color: #F5F5F5;
    --background: #141414;
    --background-secundario: #9e87a8;
    --text-shadow: #bebebe;
}