*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#root{

    /* Variaveis */

    --secundaria: #ca05fc;
    --primaria: #8b4c96;
    --font-color: #F5F5F5;
    --header:#4b4b4b;
    --background: #141414;
    --background-secundario: #252525;
    --text-shadow: #bebebe;
}